/* SECTION 4 */

.section4title{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 100px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    grid-area: section4title;
    text-align: left;
    align-content: end;
  }

  .section4title h1{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #F4CE14;
    font-family: "Markazi Text";
    font-size: 30pt;
  }

  .section4subtitle{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 100px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    grid-area: section4subtitle;
    text-align: left;
    align-content:start;
  }

  .section4subtitle h2{
    margin: 0px;
    padding: 0px;
    color: #000000;
    font-family: "Markazi Text";
    font-size: 18pt;
  }

  .section4description{
    width: 400px;
    height: 200px;
    box-sizing: border-box;
    margin-top: -150px;
    padding: 0px;
    grid-area: section4description;
    text-align: left;
    color: #000000;
    font-family: "Karla", sans-serif;
    font-size: 11pt;
  }

  .chef1{
    width: 300px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0), 0 6px 12px 0 rgba(0, 0, 0);
  }

  .chef1container{
    margin-top: -50px;
   grid-area: chef1container;
  }

   .chef2{
    width: 300px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0), 0 6px 12px 0 rgba(0, 0, 0);
  }

  .chef2container{
    margin-top: -140px;
    margin-left: 50px;
    grid-row: 20/24;
    grid-column: 9/12;
  }

  /* End of SECTION 4 */

  @media all and (max-width: 430px){
/* SECTION 4 */

.section4title{
  display: none;
}

.section4title h1{
  display: none;
}

.section4subtitle{
  display: none;
}

.section4subtitle h2{
  display: none;
}

.section4description{
  display: none;
}

.chef1{
  display: none;
}

.chef1container{
  display: none;
}

 .chef2{
  display: none;
}

.chef2container{
display: none;
}


}