.barranav{
  background-color: rgb(255, 255, 255);
  max-width: 800px;
  min-width: 100px;
  height: 100px;
  justify-items: center;
  align-content: center;
  grid-area: barnav;
  font: bold 1em "Karla", sans-serif;
}

.upperlogo {
  background-color: rgb(255, 255, 255);
  width: 600px;
  height: 100px;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: left;
  grid-column: 1/8;
  grid-row: 1/2;
  grid-area: uperlogo;
}

.upperlogo img{
  margin-left: 200px;
}

.navbar ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

.navbar li{
  float:left;
  background-color:rgb(254, 254, 254);
}

.navbar a{
  color:black;
  text-decoration: none;
  padding: 15px;
  text-align: center;
}



/* ---- Footer ---- */

.footerlogo{
  background-color: #EDEFEE;
  width: 500px;
  height: 300px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  grid-area: footerlogo;
  justify-items: left;
  align-content: center;
}

.footerlogo img{
 margin-left: 200px;
}

/* ---- End Footer ---- */

/* ---- Doormat ---- */

.doormat{
  background-color: #EDEFEE;
  color: black;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  grid-area: doormat;
  justify-items: center;
  align-content: center;
}


.doormatnav{
  font:  .8em "Karla", sans-serif;
  color: black;
}

.doormatnav ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  line-height: 1.5;
  color: black;
}


.doormatnav a{
  color:black;
  text-decoration: none;
  text-align: center;
  color: black;
}

.doormattitle{
  margin-right: 20px;
  padding-right: 20px;
  font: bold .8em "Karla", sans-serif;
  text-align: left;
}

/* ---- End Doormat ---- */

/* Contact */

.contact{
  background-color: #EDEFEE;
  color: black;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  margin: 0px;
  padding-bottom: 51px;
  grid-area: contact;
  justify-items: center;
  align-content: center;
}

.contactnav{
  font:  .8em "Karla", sans-serif;
  color: black;
}

.contactnav ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  line-height: 1.5;
  color: black;
  text-align: center;
}


.contacttitle{
  margin-right: 0px;
  padding-right: 0px;
  font: bold .8em "Karla", sans-serif;
  text-align: center;
}

/* End Contact */

/* Social */

.social{
  background-color: #EDEFEE;
  color: black;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  margin: 0px;
  padding-bottom: 51px;
  grid-area: social;
  justify-items: center;
  align-content: center;
}

.socialnav{
  font:  .8em "Karla", sans-serif;
  color: black;
}

.socialnav ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  line-height: 1.5;
  color: black;
}

.socialnav a{
  color:black;
  text-decoration: none;
  text-align: center;
  color: black;
}


.socialttitle{
  font: bold .8em "Karla", sans-serif;
  text-align: left;
}

/* End Social */

@media all and (max-width: 430px){
 
  .barranav{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    grid-area: barnav;
    font: bold 1em "Karla", sans-serif;
    overflow: scroll;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .navbar{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);

  }

  .navbar ul{
    width: 400px;
    min-height: 90px;
    height: 100%;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;


  }

  .navbar li{
    width: 100%;
    height: 100%;
    margin: 0px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    float:left;
    align-items: center;
    display: flex;
  }

  .navbar a{
    color:black;
    text-decoration: none;
    margin: 0px;
    padding: 0px;

  }

  .upperlogo {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    grid-area: upperlogo;
    display: flex;
    justify-content: center;
  }

  .upperlogo img{
    margin: 0px;
    padding: 0px;
    width: 50%;
  }





  /* ---- Footer ---- */
  
  .footerlogo{
    background-color: #EDEFEE;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    grid-area: footerlogo;
    display: flex;
    justify-items: center;
    align-content: center;
    justify-content: center;
  }
  
  .footerlogo img{
    width: 30%;
    margin: 0px;
   }
  
  /* ---- End Footer ---- */
  
  /* ---- Doormat ---- */
  
  .doormat{
    display: none;
  }
  
  
  .doormatnav{
    display: none;
  }
  
  .doormatnav ul{
    display: none;
  }
  
  
  .doormatnav a{
    display: none;
  }
  
  .doormattitle{
    display: none;
  }
  
  /* ---- End Doormat ---- */
  
  /* Contact */
  
  .contact{
    display: none;
  }
  
  .contactnav{
    display: none;
  }
  
  .contactnav ul{
    display: none;
  }
  
  
  .contacttitle{
    display: none;
  }
  
  /* End Contact */
  
  /* Social */
  
  .social{
    display: none;
  }
  
  .socialnav{
    display: none;
  }
  
  .socialnav ul{
    display: none;
  }
  
  .socialnav a{
    display: none;
  }
  
  
  .socialttitle{
      display: none;
  }





}