.barranav{
  background-color: rgb(255, 255, 255);
  width: 800px;
  height: 100px;
  justify-items: center;
  align-content: center;
  grid-area: barnav;
  font: bold 1em "Karla", sans-serif;
}

.upperlogo {
  background-color: rgb(255, 255, 255);
  width: 600px;
  height: 100px;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: left;
  grid-column: 1/8;
  grid-row: 1/2;
  grid-area: uperlogo;
}

.upperlogo img{
  margin-left: 200px;
}

.navbar ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

.navbar li{
  float:left;
  background-color:rgb(254, 254, 254);
}

.navbar a{
  color:black;
  text-decoration: none;
  padding: 15px;
  text-align: center;
}

.section1{
  background-color: #495E57;
  width: 700px;
  height: 300px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  grid-area: section1;
}

.section2{
  background-color: rgb(255, 255, 255);
  width: 1400px;
  height: 300px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  grid-area: section2;
}

.section3{
  background-color: #EDEFEE;
  width: 1400px;
  height: 300px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  grid-area: section3;
}

.section4{
  background-color: rgb(255, 255, 255);
  width: 1400px;
  height: 300px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  grid-area: section4;
}

.footerlogo{
  background-color: #EDEFEE;
  width: 500px;
  height: 300px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  grid-area: footerlogo;
  justify-items: left;
  align-content: center;
}

.footerlogo img{
 margin-left: 200px;
}

.doormat{
  background-color: #EDEFEE;
  color: black;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  grid-area: doormat;
  justify-items: center;
  align-content: center;
}

.contact{
  background-color: #EDEFEE;
  color: black;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  grid-area: contact;
  justify-items: center;
  align-content: center;
}

.social{
  background-color: #EDEFEE;
  color: black;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  grid-area: social;
  justify-items: center;
  align-content: center;
}

.doormatnav{
  font:  1em "Karla", sans-serif;
  color: black;
}

.doormatnav ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  line-height: 1.5;
  color: black;
}


.doormatnav a{
  color:black;
  text-decoration: none;
  text-align: center;
  color: black;
}

.doormattitle{
  margin-right: 20px;
  padding-right: 20px;
  font: bold 1em "Karla", sans-serif;
  text-align: left; 
}

.maintitle {
  margin-left: 200px;
  margin-bottom: 0px;
  color: #F4CE14;
}

.mainsubtitle{
  margin-left: 200px;
  margin-top: 0px;
  color: white;
}

.welcomemessage{
  margin-left: 200px;
  color: white;
  font:  1em "Karla" sans-serif;
}

.sectiononebutton{
  background-color:#F4CE14 ;
  border: none;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  font:  bold 1em "Karla";
  margin-left: 200px;
  margin-top: 40px;
  padding: 0px;
  width: 200px;
  height: 40px;
  cursor: pointer
}