.barranav{
  background-color: rgb(255, 255, 255);
  max-width: 800px;
  min-width: 100px;
  height: 100px;
  justify-items: center;
  align-content: center;
  grid-area: barnav;
  font: bold 1em "Karla", sans-serif;
}

.upperlogo {
  background-color: rgb(255, 255, 255);
  width: 600px;
  height: 100px;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: left;
  grid-column: 1/8;
  grid-row: 1/2;
  grid-area: uperlogo;
}

.upperlogo img{
  margin-left: 200px;
}

.navbar ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

.navbar li{
  float:left;
  background-color:rgb(254, 254, 254);
}

.navbar a{
  color:black;
  text-decoration: none;
  padding: 15px;
  text-align: center;
}



/* ---- Footer ---- */

.footerlogo{
  background-color: #EDEFEE;
  width: 500px;
  height: 300px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  grid-area: footerlogo;
  justify-items: left;
  align-content: center;
}

.footerlogo img{
 margin-left: 200px;
}

/* ---- End Footer ---- */

/* ---- Doormat ---- */

.doormat{
  background-color: #EDEFEE;
  color: black;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  grid-area: doormat;
  justify-items: center;
  align-content: center;
}


.doormatnav{
  font:  .8em "Karla", sans-serif;
  color: black;
}

.doormatnav ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  line-height: 1.5;
  color: black;
}


.doormatnav a{
  color:black;
  text-decoration: none;
  text-align: center;
  color: black;
}

.doormattitle{
  margin-right: 20px;
  padding-right: 20px;
  font: bold .8em "Karla", sans-serif;
  text-align: left;
}

/* ---- End Doormat ---- */

/* Contact */

.contact{
  background-color: #EDEFEE;
  color: black;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  margin: 0px;
  padding-bottom: 51px;
  grid-area: contact;
  justify-items: center;
  align-content: center;
}

.contactnav{
  font:  .8em "Karla", sans-serif;
  color: black;
}

.contactnav ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  line-height: 1.5;
  color: black;
  text-align: center;
}


.contacttitle{
  margin-right: 0px;
  padding-right: 0px;
  font: bold .8em "Karla", sans-serif;
  text-align: center;
}

/* End Contact */

/* Social */

.social{
  background-color: #EDEFEE;
  color: black;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  margin: 0px;
  padding-bottom: 51px;
  grid-area: social;
  justify-items: center;
  align-content: center;
}

.socialnav{
  font:  .8em "Karla", sans-serif;
  color: black;
}

.socialnav ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  line-height: 1.5;
  color: black;
}

.socialnav a{
  color:black;
  text-decoration: none;
  text-align: center;
  color: black;
}


.socialttitle{
  font: bold .8em "Karla", sans-serif;
  text-align: left;
}

/* End Social */

.container1{
  background-color: rgb(255, 255, 255);
  width: 1400px;
  height: 2600px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(14,100px);
  grid-template-rows: repeat(26,100px);
  grid-template-areas:
  " uperlogo uperlogo uperlogo uperlogo uperlogo uperlogo barnav barnav barnav barnav barnav barnav barnav barnav "
  " section1 section1 section1 section1 section1 section1 section1 section1r section1r section1r section1r section1r section1r section1r "
  " section1 section1 section1 section1 section1 section1 section1 section1r section1r section1r section1r section1r section1r section1r "
  " section1 section1 section1 section1 section1 section1 section1 section1r section1r section1r section1r section1r section1r section1r "
  " section2title section2title section2title section2title section2title section2title section2title section2button section2button section2button section2button section2button section2button section2button"
  " . . section2cardone section2cardone section2cardone section2cardtwo section2cardtwo section2cardtwo section2cardtwo section2cardthree section2cardthree section2cardthree . ."
  " . . section2cardone section2cardone section2cardone section2cardtwo section2cardtwo section2cardtwo section2cardtwo section2cardthree section2cardthree section2cardthree . ."
  " . . section2cardone section2cardone section2cardone section2cardtwo section2cardtwo section2cardtwo section2cardtwo section2cardthree section2cardthree section2cardthree . ."
  " . . section2cardone section2cardone section2cardone section2cardtwo section2cardtwo section2cardtwo section2cardtwo section2cardthree section2cardthree section2cardthree . ."
  " . . section2cardone section2cardone section2cardone section2cardtwo section2cardtwo section2cardtwo section2cardtwo section2cardthree section2cardthree section2cardthree . ."
  " . . section2cardone section2cardone section2cardone section2cardtwo section2cardtwo section2cardtwo section2cardtwo section2cardthree section2cardthree section2cardthree . ."
  " . . . . . section3title section3title section3title section3title . . . . . "
  " . . section3box1 section3box1 section3box1 section3box2 section3box2 section3box2 section3box2 section3box3 section3box3 section3box3 . ."
  " . . section3box1 section3box1 section3box1 section3box2 section3box2 section3box2 section3box2 section3box3 section3box3 section3box3 . ."
  " . . section3box1 section3box1 section3box1 section3box2 section3box2 section3box2 section3box2 section3box3 section3box3 section3box3 . ."
  " . . section3box1 section3box1 section3box1 section3box2 section3box2 section3box2 section3box2 section3box3 section3box3 section3box3 . ."
  " . . . . . . . . . . . . . . "
  " . . . . . . . . . . . . . ."
  " . . section4title section4title section4title section4title . chef1container chef1container chef1container . . . ."
  " . . section4subtitle section4subtitle section4subtitle section4subtitle . chef1container chef1container chef1container . . . ."
  " . . section4description section4description section4description section4description . chef1container chef1container chef1container . . . ."
  " . . section4description section4description section4description section4description . chef1container chef1container chef1container . . . ."
  " . . . . . . . . . . . . . ."
  " footerlogo footerlogo footerlogo footerlogo footerlogo doormat doormat doormat contact contact contact social social social "
  " footerlogo footerlogo footerlogo footerlogo footerlogo doormat doormat doormat contact contact contact social social social "
  " footerlogo footerlogo footerlogo footerlogo footerlogo doormat doormat doormat contact contact contact social social social "
  ;
  justify-items: center;
  align-items: center;

}

@media all and (max-width: 431px) 

{
 
  .barranav{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    grid-area: barnav;
    font: bold 1em "Karla", sans-serif;
    overflow: scroll;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  .navbar{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
  }

  .navbar ul{
    width: 400px;
    min-height: 90px;
    height: 100%;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbar li{
    width: 100%;
    height: 100%;
    margin: 0px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    float:left;
    align-items: center;
    display: flex;
  }

  .navbar a{
    color:black;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
  }

  .upperlogo {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    grid-area: upperlogo;
    display: flex;
    justify-content: center;
  }

  .upperlogo img{
    margin: 0px;
    padding: 0px;
    width: 50%;
  }

  /* ---- Footer ---- */
  
  .footerlogo{
    background-color: #EDEFEE;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    grid-area: footerlogo;
    display: flex;
    justify-items: center;
    align-content: center;
    justify-content: center;
  }
  
  .footerlogo img{
    width: 30%;
    margin: 0px;
   }
  
  /* ---- End Footer ---- */
  
  /* ---- Doormat ---- */
  
  .doormat{
    display: none;
  }
  
  
  .doormatnav{
    display: none;
  }
  
  .doormatnav ul{
    display: none;
  }
  
  
  .doormatnav a{
    display: none;
  }
  
  .doormattitle{
    display: none;
  }
  
  /* ---- End Doormat ---- */
  
  /* Contact */
  
  .contact{
    display: none;
  }
  
  .contactnav{
    display: none;
  }
  
  .contactnav ul{
    display: none;
  }
  
  
  .contacttitle{
    display: none;
  }
  
  /* End Contact */
  
  /* Social */
  
  .social{
    display: none;
  }
  
  .socialnav{
    display: none;
  }
  
  .socialnav ul{
    display: none;
  }
  
  .socialnav a{
    display: none;
  }
  
  
  .socialttitle{
      display: none;
  }

  .container1 {
    background-color: rgb(255, 255, 255);
    max-width: 430px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(58,100px);
    grid-template-areas:
      "upperlogo upperlogo upperlogo upperlogo" /* 1 */
      "barnav barnav barnav barnav" /* 2 */
      "section1 section1 section1 section1" /* 3 */
      "section1 section1 section1 section1" /* 4 */
      "section1 section1 section1 section1" /* 5 */
      "section1 section1 section1 section1" /* 6 */
      "section1r section1r section1r section1r" /* 7 */
      "section1r section1r section1r section1r" /* 8 */
      "section1r section1r section1r section1r" /* 9 */
      "section2title section2title section2title section2title" /* 10 */
      "section2cardone section2cardone section2cardone section2cardone" /* 11 */
      "section2cardone section2cardone section2cardone section2cardone" /* 12 */
      "section2cardone section2cardone section2cardone section2cardone" /* 13 */
      "section2cardone section2cardone section2cardone section2cardone" /* 14 */
      "section2cardone section2cardone section2cardone section2cardone" /* 15 */
      "section2cardone section2cardone section2cardone section2cardone" /* 16 */
      "section2cardtwo section2cardtwo section2cardtwo section2cardtwo" /* 17 */
      "section2cardtwo section2cardtwo section2cardtwo section2cardtwo" /* 18 */
      "section2cardtwo section2cardtwo section2cardtwo section2cardtwo" /* 19 */
      "section2cardtwo section2cardtwo section2cardtwo section2cardtwo" /* 20 */
      "section2cardtwo section2cardtwo section2cardtwo section2cardtwo" /* 21 */
      "section2cardtwo section2cardtwo section2cardtwo section2cardtwo" /* 22 */
      "section2cardthree section2cardthree section2cardthree section2cardthree" /* 23 */
      "section2cardthree section2cardthree section2cardthree section2cardthree" /* 24 */
      "section2cardthree section2cardthree section2cardthree section2cardthree" /* 25 */
      "section2cardthree section2cardthree section2cardthree section2cardthree" /* 26 */
      "section2cardthree section2cardthree section2cardthree section2cardthree" /* 27 */
      "section2cardthree section2cardthree section2cardthree section2cardthree" /* 28 */
      "section2button section2button section2button section2button" /* 29 */
      "section3title section3title section3title section3title" /* 30 */
      "section3box1 section3box1 section3box1 section3box1" /* 31 */
      "section3box1 section3box1 section3box1 section3box1" /* 32 */
      "section3box1 section3box1 section3box1 section3box1" /* 33 */
      "section3box1 section3box1 section3box1 section3box1" /* 34 */
      "section3box2 section3box2 section3box2 section3box2" /* 35 */
      "section3box2 section3box2 section3box2 section3box2" /* 36 */
      "section3box2 section3box2 section3box2 section3box2" /* 37 */
      "section3box2 section3box2 section3box2 section3box2" /* 38 */
      "section3box3 section3box3 section3box3 section3box3" /* 39 */
      "section3box3 section3box3 section3box3 section3box3" /* 40 */
      "section3box3 section3box3 section3box3 section3box3" /* 41 */
      "section3box3 section3box3 section3box3 section3box3" /* 42 */
      ". . . ." /* 43 */
      "section4title section4title section4title section4title" /* 44 */
      "section4subtitle section4subtitle section4subtitle section4subtitle" /* 45 */
      "section4description section4description section4description section4description" /* 46 */
      "section4description section4description section4description section4description" /* 47 */
      "chef1container chef1container chef1container chef1container" /* 48 */
      "chef1container chef1container chef1container chef1container" /* 49 */
      "chef1container chef1container chef1container chef1container" /* 50 */
      "chef1container chef1container chef1container chef1container" /* 51 */
      ". . . ." /* 52 */
      ". . . ." /* 53 */
      ". . . ." /* 54 */
      ". . . ." /* 55 */
      ". . . ." /* 56 */
      ". . . ." /* 57 */
      "footerlogo footerlogo footerlogo footerlogo" /* 58 */
  
    ;
    justify-items: center;
    align-items: center;
  }

}