.formbox1{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-items: center;
    background-color: blue;
    align-content: center;
    justify-content: center;
}
.formstyle{
    display: grid;
    max-width: 200px;
    gap: 20px
}