body{
  background-color: #202020;
  justify-items: center;
}

#root{
  background-color: rgb(255, 255, 255);
  width: 1400px;
  height: 2000px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(14,100px);
  grid-template-rows: repeat(20,100px);
  grid-template-areas:
  " uperlogo uperlogo uperlogo uperlogo uperlogo uperlogo barnav barnav barnav barnav barnav barnav barnav barnav "
  " section1 section1 section1 section1 section1 section1 section1 section1r section1r section1r section1r section1r section1r section1r "
  " section1 section1 section1 section1 section1 section1 section1 section1r section1r section1r section1r section1r section1r section1r "
  " section1 section1 section1 section1 section1 section1 section1 section1r section1r section1r section1r section1r section1r section1r "
  " section2title section2title section2title section2title section2title section2title section2title section2button section2button section2button section2button section2button section2button section2button"
  " . . section2cardone section2cardone section2cardone section2cardtwo section2cardtwo section2cardtwo section2cardtwo section2cardthree section2cardthree section2cardthree . ."
  " . . section2cardone section2cardone section2cardone section2cardtwo section2cardtwo section2cardtwo section2cardtwo section2cardthree section2cardthree section2cardthree . ."
  " . . section2cardone section2cardone section2cardone section2cardtwo section2cardtwo section2cardtwo section2cardtwo section2cardthree section2cardthree section2cardthree . ."
  " . . section2cardone section2cardone section2cardone section2cardtwo section2cardtwo section2cardtwo section2cardtwo section2cardthree section2cardthree section2cardthree . ."
  " . . section2cardone section2cardone section2cardone section2cardtwo section2cardtwo section2cardtwo section2cardtwo section2cardthree section2cardthree section2cardthree . ."
  " . . section2cardone section2cardone section2cardone section2cardtwo section2cardtwo section2cardtwo section2cardtwo section2cardthree section2cardthree section2cardthree . ."
  " section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3"
  " section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3"
  " section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3 section3"
  " section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4"
  " section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4"
  " section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4 section4"
  " footerlogo footerlogo footerlogo footerlogo footerlogo doormat doormat doormat contact contact contact social social social "
  " footerlogo footerlogo footerlogo footerlogo footerlogo doormat doormat doormat contact contact contact social social social "
  " footerlogo footerlogo footerlogo footerlogo footerlogo doormat doormat doormat contact contact contact social social social "
  ;
  justify-items: center;
  align-items: center;
}

